<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

<!--   <context:component-scan base-package="de.ingrid" /> -->
    
    <!-- Beans for codelist access and synchronisation -->
    
    <bean id="httpCommunication" class="de.ingrid.codelists.comm.HttpCLCommunication">
        <property name="requestUrl" value="@URL@" />
        <property name="username" value="@USERNAME@" />
        <property name="password" value="@PASSWORD@" />
    </bean>
    <bean id="codeListService" class="de.ingrid.codelists.CodeListService">
<!--         <property name="persistencies"> -->
<!--             <list> -->
<!--                 <ref bean="xmlPersistency" /> -->
<!--             </list> -->
<!--         </property> -->
        <property name="defaultPersistency" value="-1" />
    </bean>
</beans>
